---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import SocialMediaLink from "../components/SocialMediaLink.astro";
import Link from "../components/Link.astro";
import type { Identity,  SocialLink, HomePageContent } from "../types/config";

export const identity: Identity = {
    name: "Haris Samingan",
    logo: "/my-face.png",
    email: "haris@edugrow.org",
  };

const socialLinks: SocialLink[] = [
    {
      title: "YouTube",
      url: "https://www.youtube.com/@haris.samingan",
      icon: "mdi:youtube",
      external: true,
    },
    {
      title: "LinkedIn",
      url: "https://www.linkedin.com/in/haris-samingan",
      icon: "mdi:linkedin",
      external: true,
    },
    {
      title: "Instagram",
      url: "https://www.instagram.com/haris.samingan",
      icon: "mdi:instagram",
      external: true,
    },
  ];

const homePageContent: HomePageContent = {
    seo: {
      title: "Haris Samingan",
      description:
      "I’m Haris Samingan, an entrepreneur in Singapore building a 6 figure business by end of 2025. Currently running EduGrow, where we help scale tuition and education businesses.",
      image: identity.logo,
    },
    role: "Entrepreneur",
    description:
      "I’m Haris Samingan, an entrepreneur in Singapore 🇸🇬 building a 6 figure business by end of 2025. Currently running EduGrow, where we help scale tuition and education businesses.",
    socialLinks: socialLinks,
    links: [
      {
        title: "About Me",
        url: "/about",
      },
      {
        title: "EduGrow",
        url: "https://edugrow.org",
        external: true
      },
    ],
  };

---

<Layout seo={homePageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">{identity.name}</h1>
    <p class="opacity-60 mb-10">{homePageContent.role}</p>
    <div class="flex flex-col min-[520px]:flex-row gap-6 mb-8">
      <Image
        src={identity.logo}
        alt={identity.name}
        width={100}
        height={100}
        class="rounded-full"
      />
      <div class="group flex flex-col justify-center gap-2 w-fit">
        {
          homePageContent.socialLinks.map((link) => (
            <SocialMediaLink
              title={link.title}
              url={link.url}
              icon={link.icon}
              external={link.external}
            />
          ))
        }
      </div>
    </div>
    <p class="max-w-md mb-8">
      {homePageContent.description}
    </p>
    <div class="flex items-center gap-4 group w-fit">
      {
        homePageContent.links.map((link) => (
          <Link text={link.title} href={link.url} external={link.external} />
        ))
      }
    </div>
  </section>
</Layout>
